body{
    font-family: 'Ubuntu', sans-serif !important;
}

.cta-banner {
    background-image:linear-gradient( to right, rgba(11, 11, 11, 1) 5%, #fff 95%), url("/static/img/Bg.jpg");
    height:300px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: 	rgb(240, 173, 78);
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: auto;
    position: relative;
    @media only screen and (max-width:600px) {
        .cta-message {
            font-size:10px !important;
        } 
}
}
.cta-message{
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px orange;
    overflow: hidden; 
    border-right: .20em solid rgb(8, 8, 8); 
    white-space: nowrap; 
    margin: 0 auto; 
    animation:
        typing 2.5s steps(80, end),
        blink-caret .75s 
        step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%; text-shadow: 2px 2px orange; }
  }
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:whitesmoke;
        text-shadow: 2px 2px orange; }
  }

  .dark-blue{
      color: #283747 !important;
  }

  .icon-item{
      color: whitesmoke;
      text-decoration: none;
      margin: 2px;
      font-size: 20px;
  }

  
  .dark-btn{
      position: relative;
      right:-850px;
      text-decoration:none;
      border:none;
      border-radius:2px;
      background-color: black;
      color:white;
      width:255px;
  
  }
.btn-txt{
    font-size:10px;
    padding:2px;
}

.test-button{
    position:absolute;
    top:0;
}
.card-body{
    box-shadow: 1px 1px 0px 0px grey;
}