<!--Footer-->
{% load static %}
<footer id="contact">
    <div class="container-fluid bg-dark text-light mt-5 pt-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <h6>Contact Us</h6>
                    <p i class="fas fa-at"> info@writersempire.com</i></p>
                    <p i class="fas fa-phone-square-alt"> +254720178564</i></p>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <h6>Follow Us</h6>
                    <p class="font-weight-light">
                        <span><a href=""class="icon-item"><i class="fab fa-facebook"></i></a></span>
                        <span><a href=""class="icon-item"><i class="fab fa-twitter"></i></a></span>
                        <span><a href=""class="icon-item"><i class="fab fa-linkedin"></i></a></span>
                        <span><a href=""class="icon-item"><i class="fab fa-github"></i></a></span>
                        <span><a href=""class="icon-item"><i class="fab fa-youtube"></i></a></span>
                        <span><a href=""class="icon-item"><i class="fab fa-instagram"></i></a></span>
                        <span><a href=""class="icon-item"><i class="fab fa-whatsapp"></i></a></span>
                        <span><a href=""class="icon-item"><i class="fab fa-telegram"></i></a></span>
                        <span><a href=""class="icon-item"><i class="fab fa-tiktok"></i></a></span>                                    
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">  
                    <h5>
                        <img src="{% static 'img/logo-white.png' %}" width="30" height="30" alt="logo">
                        WritersEmpire
                    </h5>
                    <p style="font-size: 12px">We pride in the quality, authentic and helpful information we gather and provide to our users. Please report any misleading 
                        content presented on this site to the Admins through the phone number provided, contact form or chat directly with Support team. We will be happy
                        to act upon as soon as possible.There are also links on this website that may be treated as “affiliate links”. WritersEmpire receives a small commission, 
                        but at no extra cost to you. If you purchase something through these links/post or work on the site, WritersEmpire will earn an arbitray percentage
                        as defined in our terms and conditions. WritersEmpire is also a participant in the Amazon Services LLC Associates Program, an affiliate advertising 
                        program designed for sites to earn advertising fees by advertising and linking to amazon.com.  Feel free to reach out to us if you have any 
                        questions.</p>
                </div>
            </div>
        </div>
        <div class="container text-center py-3">
            <p style="font-size:12px">Copyright © 2021 All Rights Reserved.</p>
        </div>
    </div>
</footer>